/* ! Custom Property */

:root {
  --site-color : #EA625C;
  --site-mini-info-color : #777;
  --info-color : #333;
}

/* ! GLOBAL */

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 2px dashed var(--site-color);
  outline-offset: 3px;
}

/* ! BODY */

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto" , Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #333;
}

.button {
  display: inline-block;
  background-color: var(--site-color);
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
  border: 0;
  letter-spacing: 0.5px;
  font-weight: bold;
  padding: 12px 35px;
  transition: background-color .1s ease;
}
.button:hover {
  background-color: #c9514c;
}
.button:active {
  opacity: .6;
}

/* LINED-LINK */

.lined-link {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.5px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--site-color);
  display: flex;
  align-items: center;
}

.lined-link::before {
  width: 40px;
  height: 3px;
  background-color: var(--site-color);
  margin-right: 10px;
  content: "";
  transition: width .1s ease;
}

.lined-link:hover::before {
  width: 60px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* ! CONTAINER */

.container {
  width: 100%;
  max-width: 1536px;
  padding-left: 100px;
  padding-right: 100px;
  margin-left: auto;
  margin-right: auto;
}

/* ! MAIN CONTENT */

.main-content {
  flex-grow: 1;
}

/* HEADER */

.site-header {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-logo-link {
  margin-right: auto;
}
.header-logo {
  width: 35px;
  height: 42px;
  object-fit: contain;
  cursor: pointer;
  pointer-events: none;
}
.header-list {
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 71px;
}
.header-item:not(:last-child) {
  margin-right: 30px;
}
.header-item-link {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-decoration: none;
  color: var(--info-color);
  transition: color .1s ease;
}
.header-item-link:hover {
  color: var(--site-color);
}
.header-form-input {
  width: 195px;
  height: 35px;
  padding-right: 14px;
  border: none;
  border-bottom: 1px solid var(--info-color);
}

/* HERO */

.site-hero {
  width: 100%;
  background-color: #fff;
  border-bottom: 2px solid #ddd;
  background-image: url("../images/apple-watch.jpg");
  background-repeat: no-repeat;
  background-position: right calc(50% - 440px) bottom;
}
.hero-container {
  padding-top: 117px;
  padding-bottom: 185px;
}
.lead-cta {
  width: 100%;
  max-width: 490px;
}
.lead-cta-heading {
  color: #000;
  font-size: 50px;
  line-height: 60px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-bottom: 30px;
}
.lead-cta-text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.5px;
  padding-left: 37px;
  border-left: 3px solid #888;
  color: var(--site-mini-info-color);
  margin-bottom: 30px;
}

/* FEATURES */

.site-features {
  padding-top: 70px;
  padding-bottom: 70px;
}
.features-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}
.features-item {
  width: 100%;
  max-width: 280px;
}
.features-item:not(:last-child) {
  margin-right: 120px;
}
.features-item-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: bold;
  text-transform: uppercase;
  color: #222;
}
.features-item-text {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: var(--info-color);
}
.features-item-divider {
  margin: 0;
  cursor: pointer;
  width: 8px;
  height: 8px;
  border: none;
  background-color: #ddd;
  box-shadow: 18px 0px 0px 0px #ddd ,
  36px 0px 0px 0px #ddd;
}

/* RETINA BGS */

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .site-hero {
    background-image: url("../images/apple-watch@2x.jpg");
  }
}